# Variables de entorno para el backend NestJS
# Copia este archivo como .env y completa los valores

MONGODB_URI=mongodb+srv://fcastano_db_user:aPK3OU3yeEUVnRr0@listaalumnos.wgdmvhu.mongodb.net/escuelas?appName=listaAlumnos
PORT=3000

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
